* {
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 4px;
}

.jumbotron {
    margin-top: 4px;
}

.col-10 {
    margin: 0px auto;
}

.btn {
    margin: 0px 2px;
    text-transform: uppercase;
}

img {
    margin: 2px 2px;
}